# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Office temporary files (Excel/Word creates these)
~$*

# Logs
*.log
